@using RelA.Domain.Entities;
@model RelA.WebUI.Models.TaskViewModel
@if (false)
{ <script src="../../Scripts/jquery-1.7.2-vsdoc.js" type="text/javascript"></script> }
@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".plus").click(function () {
            plus = $(this);
            summaryHistory = $('.summaryHistory').eq($(".plus").index(this));

            if (summaryHistory.is(":visible")) {
                summaryHistory.hide();
                plus.text('+');
            }
            else {
                summaryHistory.show();
                plus.text('-');
            }
        });
    });
</script>
<h2>
    Pesquisar Atividades</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="display-label">
        <label>
            Atividade:
        </label>
    </div>
    <br />
    @Html.TextBoxFor(m => m.Filter.Title)
    <br />
    <div class="display-label">
        <label>
            Data de Solicitacao:
        </label>
    </div>
    <br />
    @Html.DropDownListFor(x => x.Filter.ProjectID, new SelectList(Model.Projects, "ProjectID", "Name"), "Todos")
    <br />
    <input type="submit" value="Pesquisar" class="actionButtons" />
    <h3>
        Resultado</h3>
    <div class="toolBar">@Html.ActionLink("Create a new Task", "Create")</div>
    <hr />
}
@if (Model.Entity != null && Model.Entity.Count() > 0)
{
    <table class="Grid" id="gridResult">
        <thead>
            <tr>
                <th>
                    Atividade
                </th>
                <th>
                    Projeto
                </th>
                <th class="DateCol">
                    Solicitação
                </th>
                <th class="StatusCol">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task item in Model.Entity)
            {
                <tr>
                    <td>
                        <div style="float: left; margin-left: -1.5em; cursor: pointer" class="plus">
                            +</div>
                        @Html.ActionLink(item.Title, "Details", new { TaskID = item.TaskID })
                    </td>
                    <td>
                        @item.Project.Name
                    </td>
                    <td class="DateCol">
                        @item.RequestDate.ToShortDateString()
                    </td>
                    <td class="StatusCol" style="background-color: @(item.History.LastOrDefault() != null ? item.History.LastOrDefault().Status.Color : string.Empty)">
                        @(item.History.LastOrDefault() != null ? item.History.LastOrDefault().Status.Description : string.Empty)
                    </td>
                </tr>
                <tr style="display: none" class="summaryHistory">
                    <td colspan="4">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th class="DateCol">
                                        Historico
                                    </th>
                                    <th class="StatusCol">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            @foreach (TaskHistory history in item.History)
                            {
                                <tr>
                                    <td class="DateCol">
                                        @history.HistoryDate.ToShortDateString()
                                    </td>
                                    <td style="background-color:@history.Status.Color;" class="StatusCol">
                                        @history.Status.Description
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @:Nenhum registro encontrado!
}