@using RelA.Domain.Entities;
@model RelA.WebUI.Models.TaskViewModel
@{
    ViewBag.Title = "Atividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Pesquisar Atividades</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="display-label">
        <label>
            Atividade:
        </label>
    </div>
    <br />
    @Html.TextBoxFor(m => m.Filter.Title)
    <br />
    <div class="display-label">
        <label>
            Data de Solicitacao:
        </label>
    </div>
    <br />
    @Html.DropDownListFor(x => x.Filter.ProjectID, new SelectList(Model.Projects, "ProjectID", "Name"), "Todos")
    <br />
    <input type="submit" value="Pesquisar" class="actionButtons" />
    <h3>
        Resultado</h3>
    <div class="toolBar">@Html.ActionLink("Create a new Task", "Create")</div>
    <hr />
}
@if (Model.Entity != null && Model.Entity.Count() > 0)
{
    <table class="Grid">
        <thead>
            <tr>
                <th>
                    Projeto
                </th>
                <th>
                    Atividade
                </th>
                <th class="DateCol">
                    Solicitação
                </th>
                <th class="DateCol">
                    Conclusão
                </th>
                @* <th>
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Task item in Model.Entity)
            {
                <tr>
                    <td>
                        @item.Project.Name
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "Details", new { TaskID = item.TaskID })
                    </td>
                    <td class="DateCol">
                        @item.RequestDate.ToShortDateString()
                    </td>
                    <td class="DateCol">
                        @(item.ConclusionDate.HasValue ? item.ConclusionDate.Value.ToShortDateString() : string.Empty)
                    </td>
                    @* <td class="buttons">
                        @using (Html.BeginForm("Details", "Task"))
                        {
                            @Html.Hidden("TaskID", item.TaskID)
                            <input type="submit" value="Detalhar" class="actionButtons" />
                        }
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @:Nenhum registro encontrado!
}